{% extends 'app_layout.html' %}

{% block content %}

<!-- HEADER -->
<div class="d-lg-flex justify-content-between m-3">
    <div class="">
        <h2 class="m-0 fw-bolder fs-3">
            Contas a pagar / receber
        </h2>
        <p class="m-0">
            Filtre e visualize as contas
        </p>
    </div>
    <div class="d-flex align-items-center">
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ações
            </button>
            <ul class="dropdown-menu">
                <li class="border-bottom py-2">
                    <a class="dropdown-item icon-link" href="#" id="alterar-valor">
                        <span class="material-symbols-outlined me-2 fw-light text-smart fill-icon">
                            attach_money
                        </span>
                        Alterar valor
                    </a>
                </li>
                <li class="border-bottom py-2">
                    <a class="dropdown-item icon-link" href="#" id="alterar-vencimento">
                        <span class="material-symbols-outlined me-2 fw-light text-smart fill-icon">
                            edit_calendar
                        </span>
                        Alterar vencimento
                    </a>
                </li>
                <li class="border-bottom py-2">
                    <a class="dropdown-item icon-link" href="#" id="settlement">
                        <span class="material-symbols-outlined me-2 fw-light text-smart fill-icon">
                            payments
                        </span>
                        Baixar parcelas
                    </a>
                </li>
                <li class="border-bottom py-2">
                    <a class="dropdown-item icon-link" href="#" id="estornar-pagamento-recebimento">
                        <span class="material-symbols-outlined me-2 fw-light text-smart fill-icon">
                            undo
                        </span>
                        Estornar recebimento / pagamento
                    </a>
                </li>
                <li class="py-2">
                    <a class="dropdown-item icon-link" href="#" id="estornar-installment">
                        <span class="material-symbols-outlined me-2 fw-light text-smart fill-icon">
                            delete
                        </span>
                        Estornar parcela
                    </a>
                </li>
            </ul>
        </div>
        <a href="{% url 'financial_transaction_create' %}"
            class="btn-smart mx-3 icon-link d-flex justify-content-center">
            <span class="material-symbols-outlined fill-icon">
                add_circle
            </span>
            Novo
        </a>
    </div>
</div>
<!-- FIM HEADER -->

<div class="card-smart">

    <div class="card p-3">
        <form method="GET" class="row g-3">
            {% for field in filter.form %}
            <div class="col-md-4">
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn-smart w-50">Filtrar</button>
            </div>
        </form>
    </div>
</div>

<div class="card-smart">
    
    <div class="">
        <p class="m-0 fw-bold">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </p>
    
        <nav aria-label="" class="m-0 p-0">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% querystring page=1 %}">&laquo; Início</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% querystring page=page_obj.previous_page_number %}">
                        Anterior
                    </a>
                </li>
                {% endif %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% querystring page=page_obj.next_page_number %}">
                        Próxima
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% querystring page=page_obj.paginator.num_pages %}">
                        Fim &raquo;
                    </a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>

    <!-- TABLE -->
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center align-middle">
            <thead>
                <tr>
                    <th scope="col">
                        <input type="checkbox" id="select_all" name="select_all" />
                    </th>
                    <th scope="col">Tipo</th>
                    <th scope="col">ID</th>
                    <th scope="col">Cliente/Fornecedor</th>
                    <th scope="col">Nº parcela</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Vencimento</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Situação</th>
                </tr>
            </thead>
            <tbody>
                <!-- installment -->
                {% for installment in financialtransactioninstallment_list %}
                <tr>
                    <td>
                        <input data-bs-toggle="collapse" href="#collapseinstallment{{installment.id}}" role="button"
                            aria-expanded="false" aria-controls="collapseinstallment{{installment.id}}" type="checkbox"
                            id="" name="checkboxes[]" value="{{ installment.id }}" />
                    </td>
                    <td>
                        {% if installment.financial_transaction.type == 0 %}
                        <p class="m-0 icon-link bg-danger-subtle p-2 rounded-4 fs-7">
                            <span class="material-symbols-outlined me-1 text-danger">
                                call_received
                            </span>
                            A pagar
                        </p>
                        {% else %}
                        <p class="m-0 icon-link bg-success-subtle p-2 rounded-4 fs-7">
                            <span class="material-symbols-outlined me-1 text-success">
                                call_made
                            </span>
                            A receber
                        </p>
                        {% endif %}
                    </td>
                    <td>{{installment.id}}</td>
                    <td>{{installment.financial_transaction.customer_supplier.name}}</td>
                    <td>{{installment.installment_number}} /
                        {{installment.financial_transaction.number_of_installments}}
                    </td>
                    <td>{{installment.financial_transaction.financial_category.name}}</td>
                    <td>{{ installment.due_date|date:"d/m/Y" }}</td>
                    <td>R$ {{installment.amount}}</td>
                    <td>{% if installment.status == 0 %}Em aberto{%else%}Pago{%endif%}</td>
                </tr>
                <td colspan="11" class="collapse" id="collapseinstallment{{installment.id}}">
                    <div class="p-3 text-start bg-light">
                        <p class="m-0 fw-bold">
                            Descrição
                        </p>
                        <p class="m-0">
                            {{installment.financial_transaction.description}}
                        </p>
                        <p class="m-0 fw-bold mt-3">
                            Lançamento
                        </p>
                        <p class="m-0">
                            Lançado por {{installment.created_by_user.first_name}}
                        </p>
                        <p class="m-0">
                            Lançado em {{installment.financial_transaction.created_at}}
                        </p>
                        <p class="m-0 fw-bold mt-3">
                            Baixa e Pagamento
                        </p>
                        <p class="m-0">
                            Baixado por {{installment.marked_down_by_user.first_name}}
                        </p>
                        <p class="m-0">
                            Baixado em {{installment.settlement_date}}
                        </p>
                        <p class="m-0 fw-semibold">
                            Pago em {{installment.payment_date|date:"d/m/Y"}}
                        </p>
                        <p class="m-0 fw-semibold">
                            Valor Pago {{installment.paid_amount|default:''}}
                        </p>
                    </div>
                </td>
                {%endfor%}
                <!-- END installment -->

            </tbody>
        </table>

    </div>
    <!-- END TABLE -->

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {


        // capture the click on the 'Alterar valores'
        $("#alterar-valor").click(function (event) {
            event.preventDefault();

            // Obtenha os valores dos checkboxes selecionados
            var checkboxesSelecionados = [];

            $("input[name='checkboxes[]']:checked").each(function () {
                checkboxesSelecionados.push($(this).val());
            });

            // Crie a URL com os valores dos checkboxes como parâmetros de consulta
            var url = "{% url 'transaction_installment_amount' %}?checkboxes=" + checkboxesSelecionados
                .join(',');

            // Redirecione para a URL com os parâmetros
            window.location.href = url;
        });

        // Captura o clique no Alterar Data Vencimento
        $("#alterar-vencimento").click(function (event) {
            event.preventDefault();

            // Obtenha os valores dos checkboxes selecionados
            var checkboxesSelecionados = [];

            $("input[name='checkboxes[]']:checked").each(function () {
                checkboxesSelecionados.push($(this).val());
            });

            // Crie a URL com os valores dos checkboxes como parâmetros de consulta
            var url = "{% url 'transaction_installment_amount' %}?checkboxes=" + checkboxesSelecionados
                .join(',');

            // Redirecione para a URL com os parâmetros
            window.location.href = url;
        });

        $("#settlement").click(function (event) {
            event.preventDefault();

            // Obtenha os valores dos checkboxes selecionados
            var checkboxesSelecionados = [];

            $("input[name='checkboxes[]']:checked").each(function () {
                checkboxesSelecionados.push($(this).val());
            });

            // Crie a URL com os valores dos checkboxes como parâmetros de consulta
            var url = "{% url 'transaction_installment_settlement' %}?checkboxes=" + checkboxesSelecionados
                .join(',');

            // Redirecione para a URL com os parâmetros
            window.location.href = url;
        });

        $("#estornar-pagamento-recebimento").click(function (event) {
            event.preventDefault();

            // Obtenha os valores dos checkboxes selecionados
            var checkboxesSelecionados = [];

            $("input[name='checkboxes[]']:checked").each(function () {
                checkboxesSelecionados.push($(this).val());
            });

            // Crie a URL com os valores dos checkboxes como parâmetros de consulta
            var url = "{% url 'transaction_installment_amount' %}?checkboxes=" +
                checkboxesSelecionados.join(',');

            // Redirecione para a URL com os parâmetros
            window.location.href = url;
        });

        $("#estornar-parcela").click(function (event) {
            event.preventDefault();

            // Obtenha os valores dos checkboxes selecionados
            var checkboxesSelecionados = [];

            $("input[name='checkboxes[]']:checked").each(function () {
                checkboxesSelecionados.push($(this).val());
            });

            // Crie a URL com os valores dos checkboxes como parâmetros de consulta
            var url = "{% url 'transaction_installment_amount' %}?checkboxes=" + checkboxesSelecionados
                .join(',');

            // Redirecione para a URL com os parâmetros
            window.location.href = url;
        });


        // Selecionar todos checkboxes
        $("#select_all").click(function () {
            // Obtém o estado atual do "Selecionar Todos" dentro da tabela atual
            var selecionarTodos = $(this).prop('checked');

            // Encontra os checkboxes individuais dentro da tabela atual e marca ou desmarca com base no estado do "Selecionar Todos"
            $(this).closest('table').find("input[name='checkboxes[]']").prop('checked',
                selecionarTodos);
        });


    });
</script>



{% endblock %}