{% extends 'app_layout.html' %}

{% block content %}
<div class="m-3">
    <h2 class="m-0 fw-bolder fs-3">
        Parcelas
    </h2>
    <p class="m-0 text-secondary">
        {% if request.GET.operation == 'amount' %}
        Alterar valor
        {% elif request.GET.operation == 'due_date' %}
        Alterar vencimento
        {% elif request.GET.operation == 'reverse_payment' %}
        Estornar pagamento / recebimento
        {%endif%}
    </p>
</div>

<div class="card-smart">

    <div class="icon-link border rounded p-2">
        <button onclick="history.back()" class="bg-white border border-0 d-flex align-items-center">
            <span class="material-symbols-outlined text-black m-0 p-0">
                arrow_back
            </span>
        </button>
        <p class="m-0 fs-5 fw-semibold">
            Voltar
        </p>
    </div>

    <form method="post" class="w-75 mx-auto my-3">
        {% csrf_token %}
        <input type="hidden" name="ids" value="{{ ids }}">
        <input type="hidden" name="operation" value="{{ request.GET.operation }}">

        {{ form.as_p }}

        {% if request.GET.operation == 'reverse_payment' %}
        <p class="fs-5 m-0">
            Deseja mesmo estornar as parcelas abaixo?
        </p>
        {%endif%}
        <button type="submit" class="btn-smart">
            {% if request.GET.operation == 'amount' %}
            Alterar valor
            {% elif request.GET.operation == 'due_date' %}
            Alterar vencimento
            {% elif request.GET.operation == 'reverse_payment' %}
            Estornar pagamento / recebimento
            {%endif%}
        </button>
    </form>

    <p class="m-0 fs-5 fw-semibold">
        Parcelas a serem alteradas:
    </p>

    <div class="table-responsive">

        <table class="table table-primary text-center">
            <thead>
                <tr>
                    <th scope="col">Número parcela</th>
                    <th scope="col">Vencimento</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for installment in installments %}
                <tr>
                    <td>
                        {{installment.installment_number}}/{{installment.financial_transaction.number_of_installments}}
                    </td>
                    <td>
                        {{installment.due_date|date:"d/m/Y"}}
                    </td>
                    <td>R$ {{installment.amount}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>
{% endblock %}