asgiref==3.8.1
babel==2.17.0
beautifulsoup4==4.13.4
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==45.0.4
cssselect2==0.8.0
Django==5.1.6
django-environ==0.12.0
django-filter==25.1
django-formtools==2.5.1
django-json-widget==2.0.1
django-ratelimit==4.1.0
django-weasyprint==2.4.0
django-widget-tweaks==1.5.0
fonttools==4.58.4
idna==3.10
lxml==5.4.0
mercadopago==2.2.3
mysqlclient==2.2.7
ofxparse==0.21
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==11.1.0
py-moneyed==3.0
pycparser==2.22
pydyf==0.11.0
pypdfium2==4.30.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
weasyprint==65.1
webencodings==0.5.1
zopfli==0.2.3.post1
