{% extends 'guest_layout.html' %}
{% load static %}

{% block content %}

<div class="bg-smart-subtle vh-100 d-flex align-items-center justify-content-center">

    <div class="card bg-white p-3" style="width: 350px;">

        <img src="{% static 'images/logo.png' %}" width="100px" alt="smart" class="mx-auto d-block">

        <p class="fw-semibold text-dark fs-6 my-3">
            Bem vindo novamente
        </p>
        <form method="post" class="my-auto">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-smart w-100 mb-3">
                Entrar
            </button>

        </form>
        <p>
            <a href="{% url 'password_reset' %}">
                Esqueceu sua senha?
            </a>
        </p>
    </div>
</div>






{% endblock %}