{% extends 'guest_layout.html' %}
{% load static %}

{% block content %}

<div class="vh-100 bg-white d-flex align-items-center justify-content-center">
    <div>
        <img src="{% static 'images/logo.png' %}" width="150px" alt="smart">

        <p class="fw-semibold text-dark fs-6 my-3">
            Redefinir senha
        </p>
        <p>
            Esqueceu sua senha? Não se preocupe, enviaremos um email para você.
        </p>
        <p>
            - Sua senha será enviada para seu email cadastrado.
        </p>
        <form method="post">
            {% csrf_token %}
            {% if form.email.errors %}
            {{ form.email.errors }}
            {% endif %}
            {{ form.as_p }}
            <input type="submit" class="btn-smart" value="Redefinir senha">
        </form>
    </div>
</div>


</div>

{% endblock %}