{% extends 'app_layout.html' %}

{% block content %}

<!-- HEADER -->
<div class="d-lg-flex justify-content-between m-3">
    <div class="">
        <h2 class="m-0 fw-bolder fs-3">
            Titulares das contas
        </h2>
        <p class="m-0">
            Visualize e cadastre titulares para receber ou pagar contas.
        </p>
    </div>
    <div class="d-flex align-items-center">
        <a href="{% url 'account_holder_create' %}" class="btn-smart mx-3 icon-link d-flex justify-content-center">
            <span class="material-symbols-outlined fill-icon">
                add_circle
            </span>
            Novo titular
        </a>
    </div>
</div>
<!-- FIM HEADER -->

<div class="card-smart">

    {% for account_holder in accountholder_list %}
    <div class="card mb-3">
        <div class="border-bottom p-3 d-lg-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <p class="m-0 fs-7 text-secondary me-3">
                    #{{account_holder.id}}
                </p>
                <div>
                    <p class="m-0 fs-5 fw-bold text-black">
                        {{account_holder.customer_supplier.name}}
                    </p>
                    <p class="m-0 text-secondary">
                        {{account_holder.customer_supplier.cpf}}{{account_holder.customer_supplier.cnpj}}
                    </p>
                </div>
            </div>
            <a href="{% url 'checking_account_create' account_holder.id %}"
                class="btn btn-light icon-link d-flex justify-content-center">
                <span class="material-symbols-outlined fill-icon">
                    add_circle
                </span>
                Nova conta
            </a>
        </div>
        <div class="p-3 bg-light">

            {% if account_holder.checking_accounts.all %}

            {% for checking_account in account_holder.checking_accounts.all %}
            <div class="border p-3 rounded bg-white">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="">
                        <p class="fw-bold m-0 fs-5">
                            {{checking_account.name}}
                            <span class="m-0 text-secondary fs-7 me-2">
                                #{{checking_account.id}}
                            </span>
                        </p>
                    </div>
                    <div>
                        <p class="m-0 text-secondary">
                            Saldo
                        </p>
                        <p class="m-0 fw-semibold fs-5">
                            {{checking_account.balances.last.balance|default:checking_account.initial_balance}}
                        </p>
                    </div>
                </div>
                <div class="row m-2 bg-light rounded p-1">
                    <div class="col-sm-4">
                        <p class="text-secondary m-0">
                            Banco
                        </p>
                        <p class="m-0">
                            {{checking_account.bank}}
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p class="text-secondary m-0">
                            Agência
                        </p>
                        <p class="m-0">
                            {{checking_account.agency}}
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p class="text-secondary m-0">
                            Número Conta
                        </p>
                        <p class="m-0">
                            {{checking_account.account_number}}
                        </p>
                    </div>
                </div>
                <div class="d-lg-flex">
                    <div class="m-2">
                        <a href="{% url 'checking_account_balance_list' checking_account.id %}" class="btn border icon-link justify-content-center w-100">
                            <span class="material-symbols-outlined me-1">
                                monitoring
                            </span>
                            Saldo
                        </a>
                    </div>
                    <div class="m-2">
                        <a href="{% url 'checking_account_update' checking_account.id %}" class="btn border icon-link justify-content-center w-100">
                            <span class="material-symbols-outlined me-1">
                                edit
                            </span>
                            Editar
                        </a>
                    </div>

                </div>
            </div>
            {%endfor%}

            {% else %}

            <p class="m-0 text-black text-center">
                Sem contas cadastradas
            </p>

            {% endif %}

        </div>
    </div>
    {%endfor%}

</div>

{%endblock%}