{% extends 'app_layout.html' %}

{% block content %}

<!-- HEADER -->
<div class="d-lg-flex justify-content-between m-3">
    <div class="">
        <h2 class="m-0 fw-bolder fs-3">
            Titulares das contas
        </h2>
        <p class="m-0">
            Visualize e cadastre titulares para receber ou pagar contas.
        </p>
    </div>
    <div class="d-flex align-items-center">
        <a href="{% url 'account_holder_create' %}"
            class="btn-smart mx-3 icon-link d-flex justify-content-center">
            <span class="material-symbols-outlined fill-icon">
                add_circle
            </span>
            Novo titular
        </a>
    </div>
</div>
<!-- FIM HEADER -->

<div class="card-smart">
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center align-middle">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome / Razão Social</th>
                    <th scope="col">Qtd. Contas Corrente</th>
                    <th scope="col">Saldo total das Contas</th>
                    <th scope="col">Ações</th>
    
                </tr>
            </thead>
            <tbody>
                {% for account_holder in accountholder_list %}
                <tr>
                    <td>
                        {{account_holder.id}}
                    </td>
                    <td>
                        {{account_holder.customer_supplier.name}}
                    </td>
                    <td>
                        {{account_holder.checking_accounts.count}}
                    </td>
                    <td>
                        R$ 0
                    </td>
                    <td class="d-flex">
                        <a href="{% url 'checking_account_list' account_holder.id %}" class="btn btn-smart me-2">
                            Contas Corrente
                        </a>
                        <a href="" class="btn btn-light">
                            Editar
                        </a>
                    </td>
                </tr>
    
                {%endfor%}
            </tbody>
        </table>
    
    </div>
</div>



{%endblock%}