{% extends 'app_layout.html' %}

{% block content %}

<section class="m-3 row">
    <div class="col">
        <div class="bg-smart-subtle p-3 rounded">
            <p class="fs-2 text-white m-0">
                {{total_enterprise.count}}
            </p>
            <p class="fs-7 text-white-50 m-0">
                Empreendimentos
            </p>
        </div>
    </div>

    <div class="col">
        <div class="bg-smart-subtle p-3 rounded">
            <p class="fs-2 text-white m-0">
                {{total_lots.count}}
            </p>
            <p class="fs-7 text-white-50 m-0">
                Lotes
            </p>
        </div>
    </div>

    <div class="col">
        <div class="bg-smart-subtle p-3 rounded">
            <p class="fs-2 text-white m-0">
                {{total_customer_supplier.count}}
            </p>
            <p class="fs-7 text-white-50 m-0">
                Clientes cadastrados
            </p>
        </div>
    </div>

    <div class="col">
        <div class="bg-smart-subtle p-3 rounded">
            <p class="fs-6 text-white m-0">
                {{company}}
            </p>
            <p class="fs-7 text-white-50 m-0">
                Empresa
            </p>
        </div>
    </div>
</section>

<section class="m-3">
    <div class="row g-3">
        <div class="col-md-4">
            <div class="rounded border p-3 shadow-sm">
                <p class="m-0">
                    Débitos de IPTU
                </p>
                <p class="m-0 fs-4 text-black">
                    R$ {{total_debts.amount__sum}}
                </p>
                <div>
                    <canvas id="totalDebitos" class="mt-3"></canvas>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>


<script>
    const ctx = document.getElementById('totalDebitos').getContext('2d');
    function parseNumberBr(value) {
        if (!value) return 0;
        return parseFloat(value.replace(/\./g, '').replace(',', '.'));
    }

    let debitosCliente = parseNumberBr('{{ total_debts_customers.amount__sum|default:0 }}');
    let debitosEmpresa = parseNumberBr('{{ total_debts_company.amount__sum|default:0 }}');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Débitos Empresa', 'Débitos Clientes'],
            datasets: [{
                label: 'R$',
                data: [debitosEmpresa, debitosCliente],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                datalabels: {
                    color: '#fff',
                    formatter: (value) => {
                        return value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
                    },
                    font: {
                        weight: 'bold',
                        size: 18
                    }
                },
                legend: {
                    position: 'bottom'
                }
            }
        },
        plugins: [ChartDataLabels]  // <- ativa o plugin
    });
</script>
{% endblock %}