{% extends 'app_layout.html' %}

{% load math_tags %}

{% block content %}

<div class="m-3">
    <h2 class="m-0 fw-bolder fs-3">
        Movimentações
    </h2>
    <p class="m-0">
        Filtre e visualize as movimentações e saldos.
    </p>
</div>


<div class="card-smart">
    <form method="GET" class="row g-3">
        {% for field in filter.form %}
        <div class="col-md-4">
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn-smart w-50">Filtrar</button>
        </div>
    </form>
</div>

{% if balance %}

<div class="row">
    <div class="col-md-3">
        <div class="card-smart mx-0">
            <div class="icon-link">
                <span class="material-symbols-outlined bg-light p-2 rounded fs-3 text-smart">
                    date_range
                </span>
                <div class="ml-3">
                    <p class="m-0 fw-semibold">
                        Saldo anterior
                        <span class="fs-7 fw-light">
                            ({{previous_balance.balance_date|date:"d/m/Y"|default:"Saldo inicial"}})
                        </span>
                    </p>
                    <p class="m-0">
                        R$ {{previous_balance.balance|default:balance.checking_account.initial_balance}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-smart mx-0">
            <div class="icon-link">
                <span class="material-symbols-outlined bg-light p-2 rounded fs-3 text-smart">
                    attach_money
                </span>
                <div class="ml-3">
                    <p class="m-0 fw-semibold">
                        Saldo atual <span class="fs-7 fw-light">({{balance.balance_date|date:"d/m/Y"}})</span>
                    </p>
                    <p class="m-0">
                        R$ {{balance.balance}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-smart mx-0">
            <div class="icon-link">
                <span class="material-symbols-outlined bg-light p-2 rounded fs-3 text-smart">
                    date_range
                </span>
                <div class="ml-3">
                    <p class="m-0 fw-semibold">
                        Titular
                    </p>
                    <p class="m-0 text-truncate" style="width: 150px;">
                        {{balance.checking_account.account_holder.customer_supplier.name}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-smart mx-0">
            <div class="icon-link">
                <span class="material-symbols-outlined bg-light p-2 rounded fs-3 text-smart">
                    account_balance
                </span>
                <div class="ml-3">
                    <p class="m-0 fw-semibold">
                        Conta corrente
                    </p>
                    <p class="m-0">
                        {{balance.checking_account.name}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="card-smart">
    <p class="m-0 fw-bold">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
    </p>

    <nav aria-label="" class="m-0 p-0">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% querystring page=1 %}">&laquo; Início</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% querystring page=page_obj.previous_page_number %}">
                    Anterior
                </a>
            </li>
            {% endif %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% querystring page=page_obj.next_page_number %}">
                    Próxima
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% querystring page=page_obj.paginator.num_pages %}">
                    Fim &raquo;
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
    <!-- TABLE -->
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center align-middle">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cliente / Fornecedor</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">Saldo</th>
                    <th scope="col" class="col-md-1">Ordem</th>
                </tr>
            </thead>
            <tbody>
                <!-- installment -->

                {% for movement in financialmovement_list %}
                <tr>
                    <td class="text-secondary fs-7">
                        <a
                            href="{% url 'financial_transaction_list' %}?id={{movement.financial_transaction_installment.id}}">
                            #{{movement.id}}
                        </a>
                    </td>
                    <td>
                        <p class="m-0 fw-semibold text-black">
                            {{movement.financial_transaction_installment.financial_transaction.customer_supplier.name}}
                        </p>
                        <p class="text-secondary m-0">
                            {{movement.financial_transaction_installment.financial_transaction.financial_category.name}}
                        </p>
                    </td>
                    <td
                        class="{%if movement.financial_transaction_installment.financial_transaction.type == 0%}text-danger{%else%}text-success{%endif%} fw-bold">
                        {%if movement.financial_transaction_installment.financial_transaction.type == 0%}
                        -
                        {%else%}
                        +
                        {%endif%}
                        R$ {{movement.amount}}
                    </td>
                    <td>
                        {{movement.movement_date|date:'d/m/Y'}}
                    </td>
                    <td id="balance-{{forloop.counter}}" class="text-secondary"></td>
                    <td>
                        <input id="order-{{movement.id}}" class="form-control" onchange="orderUpdate('{{movement.id}}')"
                            type="text" value="{{movement.order|default:''}}">
                    </td>
                </tr>

                {%endfor%}
                <!-- END installment -->

            </tbody>
        </table>

    </div>

    <!-- END TABLE -->
</div>


<script>

    // Function to update the order value of movement
    async function orderUpdate(id) {

        var order = document.getElementById(`order-${id}`);
        var url = `{% url 'financial_movements_order' %}?id=${id}&order=${order.value}`;

        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }

            console.log("Ordem atualizado com sucesso!");
            location.replace(location.href);
        } catch (error) {
            console.error(error.message);
        }
    }

    // Amount initial balance
    const initialBalance = '{{previous_balance.balance|default:balance.checking_account.initial_balance}}';
    let initialBalanceAux = parseFloat(initialBalance.replace('.', '').replace(',', '.'));

    // Movements
    let movements = [
        {% for movement in financialmovement_list %}
        {% if movement.type == 0 %} "-" + {% endif %}"{{ movement.amount }}" {% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];

    // Sum
    let sum = 0;

    // For Each in Movements
    movements.forEach((element, index) => {

        // Initialize
        let balanceAux = parseFloat(element.replace('.', '').replace(',', '.'));

        if (index == 0) {
            sum = initialBalanceAux + balanceAux;
        } else {
            sum += balanceAux
        }

        // Display on HTML
        document.getElementById('balance-' + (index + 1)).innerHTML = sum.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })
    });

</script>

{% endif %}

{% endblock %}