{% extends 'app_layout.html' %}

{% load custom_filters %}

{% block content %}

<!-- HEADER -->
<div class="m-3 d-flex justify-content-between">
    <div>
        <h2 class="m-0 fw-bolder fs-3">
            {{enterprise}}
        </h2>
        <p class="m-0">
            Lotes listagem
        </p>
    </div>
    <div>
        <a href="{% url 'lot_create' enterprise.id %}" class="btn btn-smart" style="width: 150px;">
            Novo
        </a>
    </div>

</div>
<!-- FIM HEADER -->

<div class="card-smart">

    <div class="table-responsive">
        <table class="table table-striped align-middle mb-3 text-center">
            <thead>
                <tr>
                    <th scope="col">Quadra</th>
                    <th scope="col">Lote</th>
                    <th scope="col">Responsabilidade</th>
                    <th scope="col">Inscrição Municipal</th>
                    <th scope="col">Telefones</th>
                    <th scope="col">Situação</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for object in lot_list %}
                <tr class="my-5">
                    <td>
                        {{object.block.name}}
                    </td>
                    <td>
                        {{object.lot}}
                    </td>
                    <td>
                        {% for sales_contract in object.sales_contracts.all %}

                        {% if sales_contract.is_active == 1 %}

                        {{sales_contract.customer_supplier.name}}
                        <p class="m-0 text-secondary fs-7">
                            {{sales_contract.contract_date|date:'d/m/Y'}}
                        </p>

                        {% endif %}

                        {% endfor %}
                    </td>
                    <td>
                        {{object.municipal_registration}}
                    </td>
                    <td class="fs-7">
                        {% for sales_contract in object.sales_contracts.all %}

                        {% if sales_contract.is_active == 1 %}

                        {{sales_contract.customer_supplier.phone1}},
                        {{sales_contract.customer_supplier.phone2}}

                        {% endif %}

                        {% endfor %}
                    </td>
                    <td>
                        {% if object.is_property_deed %}
                        <div class="icon-link rounded-4 p-2 bg-primary-subtle fw-medium text-dark fs-7">
                            <span class="material-symbols-outlined fill-icon fs-5">
                                license
                            </span>
                            ESCRITURADO
                        </div>
                        {% else %}

                        {% if object.financial_transaction_lot.all %}
                        <div class="icon-link rounded-4 p-2 bg-danger-subtle text-dark fs-7 fw-medium">
                            <span class="material-symbols-outlined fill-icon fs-5">
                                error
                            </span>
                            {{object.costumer_total_debt}}
                        </div>
                        {% endif %}

                        {% endif %}

                    </td>
                    <td>
                        <div class="dropstart mx-1">
                            <button class="bg-white border rounded p-2 d-flex aling-items-center" type="button"
                                data-bs-toggle="dropdown" aria-expanded="False">
                                <span class="material-symbols-outlined">
                                    more_vert
                                </span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="text-center">
                                    <a class="btn btn-primary" href="{% url 'lot_installment_list' object.id %}">
                                        Parcelas
                                    </a>
                                </li>
                                <hr>
                                <p class="fs-7 text-secondary mx-3 my-0">
                                    Contrato
                                </p>
                                <li>
                                    <a class="dropdown-item"
                                        href="{% url 'sales_contract_create' enterprise.id object.id %}">
                                        Novo contrato
                                    </a>
                                </li>

                                {% for sales_contract in object.sales_contracts.all %}

                                {% if sales_contract.is_active == 1 %}
                                <li>
                                    <a class="dropdown-item text-danger"
                                        href="{% url 'sales_contract_cancel' enterprise.id sales_contract.id %}">
                                        Cancelar contrato
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href="{% url 'sales_contract_update' enterprise.id sales_contract.id %}">
                                        Cessão
                                    </a>
                                </li>
                                {% endif %}

                                {% endfor %}
                                <hr>
                                <p class="fs-7 text-secondary mx-3 my-0">
                                    Ações
                                </p>
                                <li>
                                    <a class="dropdown-item" href="{% url 'lot_update' enterprise.id object.id %}">
                                        Editar
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger"
                                        href="{% url 'lot_delete' enterprise.id object.id %}">
                                        Excluir
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>


    </div>

</div>

{% endblock %}