{% extends 'app_layout.html' %}

{% load custom_filters %}

{% block content %}

<!-- HEADER -->
<div class="m-3 d-flex justify-content-between">
    <div>
        <h2 class="m-0 fw-bolder fs-3">
            {{lot.block.enterprise.name}} -
            <span class="fw-semibold">
                Qd. {{lot.block.name}} / Lt. {{lot.lot}}
            </span>
        </h2>
        <p class="m-0">
            {{lot.municipal_registration}}
        </p>
    </div>
</div>
<!-- FIM HEADER -->

<div class="card-smart">

    <p>
        Última atualização: {{lot.latest_update}}
    </p>
    <div class="row g-3">
        <div class="col-sm-4">
            <div class="border p-3 rounded">
                <p class="m-0 text-black fs-5 fw-bold">
                    {{lot.sales_contracts.customer_supplier.name}}
                </p>
                <p class="m-0">
                    {{lot.sales_contracts.customer_supplier.phone1}}, {{lot.sales_contracts.customer_supplier.phone2}}
                </p>
                <p class="m-0">
                    Data da compra: {{lot.sales_contracts.contract_date|date:'d/m/Y'}}
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="border p-3 rounded">
                <p class="m-0">
                    IPTU EMPRESA
                </p>
                <p class="m-0 fs-4 text-black">
                    R$ {{company_total_debt}}
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bg-danger-subtle p-3 rounded">
                <p class="m-0">
                    IPTU CLIENTE
                </p>
                <p class="m-0 fs-4 text-black">
                    R$ {{costumer_total_debt}}
                </p>
            </div>

        </div>
    </div>

    <div class="table-responsive mt-3">
        <table class="table align-middle mb-3 text-center">
            <thead>
                <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Data</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor Total</th>
                </tr>
            </thead>
            <tbody>
                {% for object in financialtransactioninstallment_list %}
                <tr>
                    <td class="{% if object.financial_transaction.type == 1 %}bg-danger-subtle{% endif %}">
                        {% if object.financial_transaction.type == 0 %}
                        EMPRESA
                        {% else %}
                        CLIENTE
                        {% endif %}
                    </td>
                    <td class="{% if object.financial_transaction.type == 1 %}bg-danger-subtle{% endif %}">
                        {{object.due_date|date:'d/m/Y'}}
                    </td>
                    <td class="{% if object.financial_transaction.type == 1 %}bg-danger-subtle{% endif %}">
                        {{object.financial_transaction.financial_category.name}}
                    </td>
                    <td class="{% if object.financial_transaction.type == 1 %}bg-danger-subtle{% endif %}">
                        {{object.financial_transaction.description}}
                    </td>
                    <td class="{% if object.financial_transaction.type == 1 %}bg-danger-subtle{% endif %}">
                        {{object.amount}}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </div>

</div>

{% endblock %}