{% load static %}


<!-- SIDEBAR -->
<div class="collapse collapse-horizontal show sticky" id="collapseSidebar">

    <div class="m-0 border-end border-bottom bg-white min-vh-100 py-3">

        <!-- ACCORDION -->
        <div class="accordion accordion-flush" id="accordionSidebar">

            <!-- ACCORDION ITEM -->
            <div class="accordion-item">
                <div class="accordion-header">
                    <a class="accordion-button fw-light collapsed text-decoration-none" href=""
                        data-bs-toggle="collapse" data-bs-target="#collapse-debits" aria-controls="collapse-debits">
                        <span class="material-symbols-outlined me-2 fw-light">
                            location_city
                        </span>
                        Controle de débitos
                    </a>
                </div>
                <div id="collapse-debits"
                    class="accordion-collapse collapse {% if 'debits' in request.path|urlencode %}show{% endif %}"
                    data-bs-parent="#accordionSidebar">
                    <div class="m-0 py-1">
                        <ul class="fw-medium border-start border-secondary mx-2 ps-2"
                            style="border-left-width: 4px !important;">
                            <li class="my-2 list-unstyled">
                                <a class="text-decoration-none {% if 'enterprise/' in request.path|urlencode %}fw-bold text-benefit{%else%}text-secondary{% endif %}"
                                    href="{% url 'enterprise_list' %}">
                                    Empreendimentos
                                </a>
                            </li>
                            <li class="my-2 list-unstyled">
                                <a class="text-decoration-none {% if 'debits/update' in request.path|urlencode %}fw-bold text-benefit{%else%}text-secondary{% endif %}"
                                    href="{% url 'lot_debits_list' %}">
                                    Atualização de débitos IPTU
                                </a>
                            </li>
                            <li class="my-2 list-unstyled">
                                <a class="text-decoration-none {% if 'customer-supplier' in request.path|urlencode %}fw-bold text-benefit{%else%}text-secondary{% endif %}"
                                    href="{% url 'customer_supplier_list' %}">
                                    Cobrança
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- FIM ACCORDION ITEM -->

            <!-- ACCORDION ITEM -->
            <div class="accordion-item">
                <div class="accordion-header">
                    <a class="accordion-button fw-light collapsed text-decoration-none" href=""
                        data-bs-toggle="collapse" data-bs-target="#collapse-customers"
                        aria-controls="collapse-customers">
                        <span class="material-symbols-outlined me-2 fw-light">
                            groups
                        </span>
                        Clientes e Fornecedores
                    </a>
                </div>
                <div id="collapse-customers"
                    class="accordion-collapse collapse {% if 'customer-supplier' in request.path|urlencode %}show{% endif %}"
                    data-bs-parent="#accordionSidebar">
                    <div class="m-0 py-1">
                        <ul class="fw-medium border-start border-secondary mx-2 ps-2"
                            style="border-left-width: 4px !important;">
                            <li class="my-2 list-unstyled">
                                <a class="text-decoration-none {% if 'customer-supplier' in request.path|urlencode %}fw-bold text-benefit{%else%}text-secondary{% endif %}"
                                    href="{% url 'customer_supplier_list' %}">
                                    Clientes e Fornecedores
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- FIM ACCORDION ITEM -->

            <!-- ACCORDION ITEM -->
            <div class="accordion-item">
                <div class="accordion-header">
                    <a class="accordion-button fw-light collapsed text-decoration-none" href=""
                        data-bs-toggle="collapse" data-bs-target="#collapse-payments" aria-controls="collapse-payments">
                        <span class="material-symbols-outlined me-2 fw-light">
                            payments
                        </span>
                        Financeiro
                    </a>
                </div>
                <div id="collapse-payments"
                    class="accordion-collapse collapse {% if 'financials' in request.path|urlencode %}show{% endif %}"
                    data-bs-parent="#accordionSidebar">
                    <div class="m-0 py-1">
                        <ul class="fw-medium border-start border-secondary mx-2 ps-2"
                            style="border-left-width: 4px !important;">
                            <li class="my-2 list-unstyled">
                                <a class="text-decoration-none {% if 'financial_transaction' in request.path|urlencode %}fw-bold text-benefit{%else%}text-secondary{% endif %}"
                                    href="{% url 'financial_transaction_list' %}">
                                    Contas a pagar / receber
                                </a>
                            </li>
                            <li class="my-2 list-unstyled">
                                <a class="text-decoration-none {% if 'financial_movement' in request.path|urlencode %}fw-bold text-benefit{%else%}text-secondary{% endif %}"
                                    href="{% url 'financial_movements_list' %}">
                                    Movimentações
                                </a>
                            </li>
                            <li class="my-2 list-unstyled">
                                <a class="text-decoration-none {% if 'financial_category' in request.path|urlencode %}fw-bold text-benefit{%else%}text-secondary{% endif %}"
                                    href="{% url 'financial_category_list' %}">
                                    Categorias
                                </a>
                            </li>
                            <li class="my-2 list-unstyled">
                                <a class="text-decoration-none {% if 'account_holder' in request.path|urlencode %}fw-bold text-benefit{%else%}text-secondary{% endif %}"
                                    href="{% url 'account_holder_list' %}">
                                    Titulares
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- FIM ACCORDION ITEM -->

        </div>
        <!-- FIM ACCORDION -->

    </div>
</div>
<!-- END SIDEBAR -->

<script>

    // function to automatic display sidebar when is large screen
    function toggleSidebar() {
        let sidebar = document.getElementById("collapseSidebar");
        if (window.innerWidth > 768) {
            sidebar.classList.add("show");
        } else {
            sidebar.classList.remove("show");
        }
    }

    // Executa ao carregar e ao redimensionar a tela
    window.addEventListener("load", toggleSidebar);
    window.addEventListener("resize", toggleSidebar);

</script>