{% extends 'app_layout.html' %}

{% load math_tags %}

{% block content %}

<div class="m-3 d-flex justify-content-between">
    <div>
        <h2 class="m-0 fw-bolder fs-3">
            Categorias
        </h2>
        <p class="m-0">
            Listagem
        </p>
    </div>
    <div>
        <a href="{% url 'financial_category_create' %}" class="btn-smart mx-3 icon-link justify-content-center">
            <span class="material-symbols-outlined fill-icon">
                add_circle
            </span>
            Nova categoria
        </a>
    </div>

</div>


<div class="card-smart">

    <table class="table align-middle text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Categoria</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for category in financialcategory_list %}
            <tr>
                <td class="fs-7 text-secondary">
                    #{{category.id}}
                </td>
                <td>
                    {{category.name}}
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn d-flex align-items-center border" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="material-symbols-outlined">
                                more_vert
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'financial_category_update' category.id %}">
                                    Editar
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}